<h3>Post a comment</h3>

<%= form_for [ @article, @comment ] do |f| %>
	<ul>
		<% @comment.errors.full_messages.each do |error| %>
			<%= error %>
		<% end %>
	</ul>
	
	<p>
		<%= f.label :author_name, "Your name" %><br>
		<%= f.text_field :author_name %>
	</p>

	<p>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>