<div>
	<h4>Comment by <%= comments.author_name %></h4>
	<p class="comment"><%= comments.body %></p>
	<p>
		Posted <%= distance_of_time_in_words(comments.article.created_at, comments.created_at) %> after article
	</p>
</div>