<h1><%= @article.title %></h1>


<p><%= @article.body %></p>
<br>
<p>
	<%= link_to "Edit Post", edit_article_path(@article) %>
</p>
<p>
	<%= link_to "Delete Post", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}
 %>
</p>
<br>
<h3>Comments (<%= @article.comments.count %>)</h3>
<%= render partial: "articles/comments", collection: @article.comments %>

<%= render partial: "comments/form" %>

<br>
<%= link_to "<< Back to Articles List", articles_path %>